.consultation {
    padding-top: 100px;
    padding-bottom: 150px;

    .bmd-block({
        padding-top: 45px;
        padding-bottom: 60px;
    });

    .sm-block({
        padding-bottom: 50px;
    });

    &__title {
        &:extend(.title-2);
    }

    &__content {
        &:extend(.sg-row);
    }

    &__contacts {
        &:extend(.sg-col);
        .size(7);
        padding-right: 22px;

        .bmd-block({
            width: 724px;
        });

        .md-block({
            .size(12);
            padding-right: 0;
        });
    }

    &__form {
        &:extend(.sg-col);
        .size(5);
    }

    &__data {
        &:extend(.sg-row);
        padding-top: 12px;
        padding-bottom: 38px;

        .sm-block({
            padding-bottom: 21px;
        });
    }

    &__item {
        &:extend(.sg-col);
        .size(3.7);

        .md-block({
            .size(4);
        });

        .sm-block({
            .size(3.7);
        });

        .xxs-block({
            .size(6);
            margin-bottom: 20px;
        });

        &:last-child {
            .size(4.6);

            .md-block({
                .size(4);
            });

            .sm-block({
                .size(4.6);
            });

            .xxs-block({
                .size(12);
            });
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 27px;

        .sm-block({
            font-size: 12px;
            margin-bottom: 16px;
        });
    }

    &__icon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        .sm-block({
            width: 18px;
            height: 18px;
        });
    }

    &__text {
        padding-top: 5px;
    }

    &__link,
    &__addr {
        color: @b;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 17px;

        .sm-block({
            font-size: 12px;
            margin-bottom: 7px;
        });
    }

    &__addr {
        .sm-block({
            line-height: 1.6;
        });
    }

    &__img {
        max-width: 650px;
        height: auto;
        box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);

        .md-block({
            min-width: 100%;
            margin-top: 0;
        });

        & img {
            display: block;
            width: 100%;
        }

        &-inner {
            width: 640px;
            height: 348px;
            overflow: hidden;
            margin-top: 20px;

            .md-block({
                width: 100%;
                height: auto;
                margin-top: 0;

                & img {
                    display: block;
                    width: 100%;
                }
            });
        }

        .bmd-block({
            width: 100%;
        });
    }

    &__form {
        box-shadow: 0px 0px 18px 0px rgba(0, 1, 1, 0.14);

        .bmd-block({
            display: none;
        });
    }
}