.footer {
    padding-top: 115px;
    padding-bottom: 33px;
    background-color: @b;

    .bmd-block({
        padding-top: 40px;
        padding-bottom: 25px;
    });

    .sm-block({
        padding-top: 35px;
    });

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        position: relative;

        .bmd-block({
            margin-bottom: 45px;
        });

        .bmd-block({
            margin-bottom: 35px;
        });
    }

    &__nav {
        padding-top: 14px;
        position: relative;
    }

    &__copy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.38);
    }
}

.copy__icon {
    margin-right: 7px;
}