.meet {
    padding-top: 140px;

    .md-block({
        padding-top: 66px;
    });

    .sm-block({
        padding-top: 37px;
    });

    &__title {
        &:extend(.title-2);
    }
}

.lawyers {
    &:extend(.sg-row);

    &__item {
        &:extend(.sg-col);
        .size(6);
        display: flex;
        margin-bottom: 48px;

        .md-block({
            .size(12);
            margin-bottom: 40px;      
        });

        .sm-block({
            margin-bottom: 30px;
        });

        .xxs-block({
            flex-direction: column;
        });
    }

    &__photo {
        width: 205px;
        height: 205px;
        margin-right: 12px;
        box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);

        .sm-block({
            width: 180px;
            height: 180px;
        });

        .xxs-block({
            margin-bottom: 12px;
        });

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 900;
        line-height: 16px;
        padding-top: 12px;
        margin-bottom: 27px;

        .sm-block({
            font-size: 12px;
            padding-top: 6px;
            margin-bottom: 18px;
        });

        & span {
            display: inline-block;
            width: 100%;
        }
    }

    &__desc {
        margin-bottom: 25px;

        .sm-block({
            margin-bottom: 18px;
        });
    }

    &__row {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__key {
        font-weight: 700;
        position: relative;

        &:after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    &__value {
        font-style: italic;
    }

    &__making {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        font-style: italic;
    }
}