.why {
    padding-top: 90px;

    &__title {
        &:extend(.title-2);
    }

    &__list {
        &:extend(.sg-row);
        position: relative;
        padding-bottom: 100px;
        margin-bottom: 40px;

        &:before,
        &:after {
            &:extend(.section-after);
            width: 420px;
            height: 3px;
        }

        &:before {
            left: 512px;
        }

        &:after {
            left: 300px;
            bottom: -37px;
        }
    }
      
    &__item {
        &:extend(.sg-col);
        display: flex;
        align-items: center;

        &:first-child,
        &:last-child {
            .size(3);
        }
        &:nth-child(2) {
            .size(6);
            justify-content: center;
        }
    }

    &__icon {
        margin-right: 12px;   
    }

    &__text {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.4px;
        text-transform: uppercase;
    }
}