@import "vars.less";
@import "smart-grid.less";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.reset();

/*
.debugGrid{
	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
}
*/

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000;
    background: #fff;
}

.container{
    .wrapper();
    overflow-x: hidden;
}

.sg-row {
    .row-flex();
}

.sg-col {
    .col();
}

a {
	display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.title-2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;

    .bmd-block({
        font-size: 18px;
        margin-bottom: 30px;
    });

    .sm-block({
        font-size: 16px;
        margin-bottom: 24px;
    });
}

.title-3 {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-after {
    display: block;
    content: "";
    background-color: rgb(232, 232, 232);
    position: absolute;
    bottom: 0;
}

.link-hover {
    position: relative;
    z-index: 11;
}

.link-hover-after {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    height: 100%;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.43);
}

.link-hover-before {
    width: 0;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 11;
    height: 100%;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    border-top: 2px solid rgb(221, 221, 221);
}

.link-hover-width {
    width: 100%;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}


@import "sections/header.less";
@import "sections/services.less";
@import "sections/about.less";
@import "sections/why.less";
@import "sections/weare.less";
@import "sections/consultation.less";
@import "sections/form.less";
@import "sections/footer.less";
@import "sections/header-inner.less";
@import "sections/modal.less";
@import "sections/aboutCompany.less";
@import "sections/meet.less";
@import "sections/service.less";
@import "sections/benefits.less";