@import "vars.less";
@import "smart-grid.less";

.reset();

/*
.debugGrid{
	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
}
*/

.container{
	.wrapper();
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #fff;
}


//@import "sections/.less";
//@import "sections/.less";
//@import "sections/.less";
