@import "vars.less";
@import "smart-grid.less";

.reset();

/*
.debugGrid{
	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
}
*/

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container{
	.wrapper();
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #fff;
}

a {
	display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
    cursor: pointer;
}

.title-2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}


@import "sections/header.less";
@import "sections/services.less";
@import "sections/about.less";
@import "sections/why.less";
@import "sections/weare.less";
@import "sections/consultation.less";
@import "sections/footer.less";
@import "sections/header-inner.less";
@import "sections/about.less";
@import "sections/about.less";
@import "sections/about.less";
